<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wiprohelp.helpindia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".utilities.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".view.HomePage"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.RequestCategoryView"
            android:label="@string/title_activity_request_catagory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.TrackMyRequestView"
            android:label="@string/title_activity_track_my_request"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.HelpRequestView"
            android:label="@string/title_activity_new_request_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ContactDetailView"
            android:label="@string/title_activity_contact_detail_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.MapsActivity"
            android:label="@string/title_activity_contact_detail_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.HelpRequestResultView"
            android:label="@string/title_activity_new_request_result_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.RegistrationView"
            android:label="@string/title_activity_registration_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.VolunteerRegistrationConfirmationView"
            android:label="@string/title_activity_volunteer_registration_confirmation_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.VolunteerActionView"
            android:label="@string/title_activity_volunteer_action_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
